[user]
  name = Herman Zvonimir Došilović
  email = hermanz.dosilovic@gmail.com
[push]
  default = current
[alias]
  st = status
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[core]
  excludesfile = ~/.gitignore
